/* You can add global styles to this file, and also import other style files */

:root {
  --theme-primary: #1976d2;
  --theme-accent: #ff9800;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
